<h1> Destination Page </h1>

Average Blogger Age: <%= @destination.average_age %>
<br>
<br>

<ul>
Most Recent Posts:
<br>
<% @destination.recent_posts.each do |post| %>
    <br>
    <li> <%= post.title%> </li>
    
    <li> <%= post.likes%> </li>
    <br>
<% end %>
</ul>
<h3> <%= link_to 'Featured Post', post_path(@destination.featured_post) %> </h3>