<h1> Destination Page </h1>

Average Blogger Age: <%= @destination.average_age %>
<br>
<br>

<h3> Most Recent Posts: </h3>
<ul>
<% @destination.recent_posts.each do |post| %>
    <br>
    <li> <%= post.title%> </li>
    
    <li> <%= post.likes%> </li>
    <br>
<% end %>
</ul>
<h3>Featured Post: <%= link_to "#{@destination.featured_post.title}", post_path(@destination.featured_post.id) %> </h3>